

<div class="getting-margin">
  <h1><%= @cocktail.name %></h1>

  <p><%= @cocktail.description %></p>

  <div class="cards">
    <% @doses.each do |dose| %>

        <p><%= @ingredient.name %> <%= dose.description %> <p>
      </div>
    <% end %>



  <%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail) %>
  <br>
  <%= link_to 'Back to HomePage', cocktails_path %>

</div>
